<html>
<head>

  <!--CSS-->
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/app.css?<%= rand(100000) %>">
</head>

<body style="font-family: Calibri">
<div class="container">

  <br><nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><div class="purple">Staples Schedule Sharer</div></a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li><a href="/classmates">Classmates</a></li>
        <li><a href="/about">Logout</a></li>

      </ul>
    </div>
  </div>
</nav>
  <%= yield %>
</div>

<!--Javascript-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="/js/app.js?<%= rand(100000) %>"></script>
</body>
</html>